body{
	background-color: #F7F8F9;
}
.container{
	min-width: 1170px;
}
.top1{
	width: 100%;
	min-width: 1170px;
	height: 36px;
}
.toptoptop{
	width: 100%;
	height: 90px;
	min-width: 1170px;
	background-color: #FFFFFF;
}
.loginframe{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.login{
	float: right;
}
.navi{
	clear: both;
}
.nav_menu{
	float: left;
	margin-top: 30px;
}
.top-text05{
	display: inline-block;
	color: #4A4A4A;
	height: 26px;
	margin-left: 72px;
	cursor: pointer;
	font-size: 14px;
	padding-bottom: 5px;
}
.top-text05:hover{
	color: #FF6146;
	font-weight: bold;
	border-bottom: 2px solid #FF6146;
}
.navi img{
	float: left;
}
.nav_text01{
	display: inline-block;
}
.nav_text02{
	float: right;
	margin-top: 27px;
	margin-bottom: 27px;
	position: relative;
	/*left: 20px;*/
}
.nav_text02 span{
	display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    width: 34px;
    height: 34px;
    background-color: #9B9B9B;
    padding-left: 8px;
    padding-top: 9px;
    position: absolute;
    right: 1px;
    top: 1px;
}
.nav_text02 span:hover{
	font-size: 22px;
    padding-top: 6px;
    padding-left: 7px;
}
.nav_text02 input{
    width: 265px;
    height: 36px;
    padding-left: 5px;
}
.top-text01{
	font-family:"微软雅黑";
	font-size: 12px;
	color: #FF6146;
}
.top-text02{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #9B9B9B;
}
.top-text03{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #4A4A4A;
}
.top-text04{
	font-family:"微软雅黑"
	font-size: 12px;
	color: #9B9B9B;
}
.loginframe span a:link{
	text-decoration: none;
}
.loginframe span a:visited{
	text-decoration: none;
}
.loginframe span a:hover{
	text-decoration: none;
}
.loginframe span a:active{
	text-decoration: none;
}
.modal-content {
    position: relative;
    left: 50%;
    margin-left: -200px;
    margin-top: 200px;
}
.head-model{
	background-color: #FF6146;
}
.login-title{
    font-family: "微软雅黑";
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 4.75px;
    text-align: center;
}
.phone-text{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #4A4A4A;
	margin-bottom: 12px;
}
.phone-number{
	font-family: "微软雅黑";
	font-size: 12px;
	letter-spacing: 0.5px;
}
.phone,.code-frame{
	width: 340px;
    height: 42px;
    border-radius: 8px;
    margin-bottom: 21px;
    border: 1px solid #979797;
}
.form-control:focus{
	border: 1px solid #FF6146;
}
.get-codetext{
	font-family:"微软雅黑";
	font-size: 12px;
	color: #979797;
	letter-spacing: 0.5px;
}
.get-code{	
    position: absolute;
    left: 262px;
    top: 146px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: 1px solid #FF6146;
    height: 30px;
}
.getCodeBack{
	border: 1px solid #FF6146;
}
.get-codetextBack{
	color: #FF6146;
}
.login-button{
	width: 340px;
    height: 45px;
    border-radius: 8px;
    background-color: #FF6146;
    border: 1px solid #ff6146;
}
.login-buttontext{
	font-family: "微软雅黑";
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 0.83px;
}
#qingkong{
	width: 20px;
    height: 20px;
    position: absolute;
    left: 333px;
    top: 87px;
}
#drMenu{
	width: 185px;
}
#drMenu li span a{
	display: inline-block;
	width: 85px;
	height: 20px;
	margin-bottom: 8px;
	cursor: pointer;
	text-align: center;
	color: #4A4A4A;
}
.indexMenuText{
	font-family: "微软雅黑";
	color: #4a4a4a;
	font-size: 12px;
}
#drMenu li span a:hover{
	color: #FF4616;
	border-left: 3px solid #FF4616;
	
}
#drMenu li span a:link{
	text-decoration: none;
}
#drMenu li span a:visited{
	text-decoration: none;
}
#drMenu li span a:hover{
	text-decoration: none;
}
#drMenu li span a:active{
	text-decoration: none;
}
#Logout{
	display: none;
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
}
.changeCity{
	width:54px;
	height: 20px;
	background-color: #F7F8F9;
	border: none;
	outline: none;
}
.modal-header .close {
    margin-top: 4px;
    position: relative;
}

.topclass{
	font-weight: bold;
	color: #FF6146;
	border-bottom: 2px solid #FF6146;
}

.getCode{
    position: absolute;
    left: 263px;
    top: 63px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: 1px solid #979797;
    height: 30px;
}
.getCode:hover{
	background-color: #f7f8f9;
}
.dropMenu{
    position: absolute;
    top: -10%;
    left: 80px;
    height: 38px;
    z-index: 1000;
    /* font-size: 20px; */
    display: none;
    float: left;
    min-width: 160px;
    padding: 6px 15px;
    margin: 2px 0 0;
    font-size: 17px;
    list-style: none;
    background-color: #F7F8F9;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    color: #4A4A4A;
    letter-spacing: 1px;
}
